body {
    background: green;
    color: black;
    counter-reset: ;
    font-family: sans-serif;
}
.box {
    width: 500px;
    height: 300px;
    background: white;
    padding: 10px;
}
.content {
    position: relative;
    bottom: 200px;
    left: 100px;
    margin: -19px;
    margin-top: 35px;
}
.box1 {
    background: green;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 9px;
    margin: 15px;
}