body {
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button {
    background-color: rgb(18, 131, 18);
    border: none;
    padding: 14px 16px;
    font-size: 16px;
    color: white;
}
.dropdown {
    display: block;
    position: relative;
}

.content {
    display: none;
    background-color: aliceblue;
    min-width: 140px;
    position: absolute;
    box-shadow: 0px 5px 5px 5px rgb(214, 214, 214);
    text-transform: capitalize;
    font-size: 16px;
}
.content a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 12px 16px;
}
.content a:hover {
    background-color: rgb(209, 208, 208);
    
}
.dropdown:hover .content {
    display: block;
}