p {
    border: 0.8em rgb(181, 9, 255);
    border-style: dotted double;
    margin: 1em 0;
    padding: 1.4em;
    background: linear-gradient(60deg, red, yellow, red, yellow, red);
    font: 900 1.2em sans-serif;
    text-decoration: underline;
  }
  
  .border-box {
    background-clip: border-box;
  }
  .padding-box {
    background-clip: padding-box;
  }
  .content-box {
    background-clip: content-box;
  }
  
  .text {
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(0, 0, 0);
  }
  
  