body {
    background: url(photo.jpg);
}
.gra {
    height: 200px;
    background: red;
    background: -o-linear-gradient(yellow, red);
    background: -webkit-gradient(yellow, red);
    background: -moz-linear-gradient(yellow, red);
    background: linear-gradient(180deg, red, yellow)
}
.grad {
    height: 200px;
    background: red;
    margin-top: 20px;
    background: -moz-radial-gradient(yellow, green);
    background: -webkit-radial-gradient(yellow, green);
    background: radial-gradient(circle, yellow, green, orange);'

}
.color {
    background: linear-gradient(to bottom, yellow, rgb(255, 3, 45));
    color: blue;
    border: 5px solid currentColor;
    height: 200px;
    padding: 15px;
    margin-top: 20px;   
}