body {
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.navigation {

}
ul {
    background-color: rgb(37, 36, 36);
    list-style-type: none;
    display: block;
    margin: 0;
    text-transform: capitalize;
}
li {
    display: inline-block;
}
li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}
li a.active {
    background-color: green;
}
li a:hover:not(.active) {
    background-color: black;
}
/*This is the dropdown image*/
.dropdown {
    display: inline;
    position: relative;
}
.content {
    display: none;
    background-color:aliceblue);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 200px;
    position: absolute;
}
.dropdown:hover .content {
    display: block;
}
.desc {
    text-align: center;
    padding: 5px;
}
/*Another image dropdown*/
.drop {
    position: relative;
    display: inline;
}
.con {
    display: none;
    background-color: aliceblue;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    left: 0px
}
.drop:hover .con {
    display: block;
    
}
.description {
    text-align: center;
    padding: 5px;
}
/*Another image dropdown*/
.dropped {
    position: relative;
    display: inline;
}
.cont {
    display: none;
    background-color: aliceblue;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 200px;
    position: absolute;
    left: 0;
}
.dropped:hover .cont {
    display: block;
}
.dex {
    text-align: center;
    padding: 5px;
}