body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    background-color:  #f1f1f1;
}
* {
    box-sizing: border-box;
}
.header {
    background-color: white;
    text-align: center;
    padding: 30px;
}
div.nav {
    display: block;
}
ul.list {
    list-style-type: none;
    display: block;
    background-color: rgb(74, 74, 74);
    padding: 20px;
    padding-left: 0;
    margin-top: 0;
}
li {
    display: inline;
}
li a {
    padding: 20px;
    text-decoration: none;
    color: white;
}
li a:hover {
    background-color: black;
}
.leftcolumn {
    float: left;
    width: 70%;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
.image {
    height: 200px;
    background-color: rgb(89, 86, 86);
    padding: 5px;
}
.rightcolumn {
    float: right;
    background-color: white;
    width: 28%;
    float: right;
    
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

