body {
    background-color: aliceblue;
    font-family: verdana;
    margin: 0;
}
.list {
    background-color: rgb(46, 46, 46);
    list-style-type: none;
    text-transform: capitalize;
    margin: 0;
    display: block;
}
li {
    display: inline-block;
}
li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}
li a.active {
    background-color: green;
}
li a:hover:not(.active) {
    background-color: rgb(28, 28, 28);
}
/*This is the dropdown*/
.dropdown {
    display: inline;
    position: relative;
    top: 50px;
}
.img {
    width: 200px;
}
.content {
    display: none;

}
.dropdown:hover .content {
    display: block;
}
/*This is a tooltip*/
.tooltip {
    display: inline;
    cursor: pointer;

}
.tooltiptext {
    background-color: black;
    border-radius: 7px;
    color: white;
    padding: 5px 5px;
    font-size: 15px;
    visibility: hidden;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}
