body {
    background: aliceblue;
    font-family: sans-serif;
}
input[type=text] {
    padding: 12px 20px 12px 40px;
    width: 100%;
    background: url('search1.png');
    background-position: 15px px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    
}


