body {
     background: aliceblue;
}
div {
    background: red;
    width: 100px;
    height: 50px;
    border-radius: 0px 20px 29px 0px;
    margin-top: 20px;
    transition: width 2s, height 5s;
    transition-delay: 2s;
}
div.trans1 {
    transition-timing-function: ease;
}
div.trans2 {
    transition-timing-function: ease-in;
}
div.trans3 {
    transition-timing-function: ease-out;
}
div.trans4 {
    transition-timing-function: linear;
}
div.trans5 {
    transition-timing-function: ease-in-out;
}
div:hover {
    width: 200px;
    height: 500px;
}